# Local env
.env*
.env.local
connections.ini

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/

# Virtual envs
.venv/
.venv.nosync/

# Notebooks
.ipynb_checkpoints/

# JupySQL
.jupysql/

# Local databases
*.db
*.sqlite*

# Database dumps
*.sql.gz
*.dump

# Docs build
docs/site/

# Editor settings
.vscode/

# macOS
.DS_Store
._*

# Ruff cache
.ruff_cache/

# Temp files
*.tmp
*.log

# Misc cache
.cache/
.requests-cache/
